* {
    margin: 0;
    padding: 0;
    font-family: 'IBM Plex Sans', sans-serif;
}

@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans&display=swap');

.logo {
    display: block;
    width: 45%;
    margin-top: 50px;
}

h2 {
    color: gray;
    font-size: xx-large;
    margin-left: 30px;
    margin-top: 30px;
}

.loginbtn {
    background-color: #6df850;
    border: 1px solid black;
    color: gray;
    padding: 10px 60px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    display: block;
    margin-left: 115px;
    margin-right: 115px;
}

.pass {
    margin-left: -123px;
    text-decoration: underline;
    font-size: 15px;
}

.copyr {
    color: white;
    margin-top: -25px;
    margin-right: 5px;
    text-align: right;
}

form {
    text-align: center;
    margin-top: 50px;
    font-size: 20px;
    color: white;
}

input {
    width: 240px;
    height: 35px;
}

p {
    color: black;
}

.profielfoto {
    width: 30%;
    float: right;
    margin-top: -213px;
    margin-right: 25px;
}

.signout {
    float: right;
    margin-top: -55px;
    margin-right: 25px;
    font-size: 20px;
    text-decoration: underline;
}

.dagov {
    border: 1px solid black;
    margin-left: 70px;
    margin-right: 70px;
    margin-top: 25px;
}

.weekov {
    border: 1px solid black;
    margin-left: 140px;
    margin-right: 140px;
    margin-top: 25px;
    text-align: center;
}

.taak {
    padding: 10px;
    display: inline-block;
    font-size: 20px;
}

.tijd {
    float: right;
    padding: 10px;
    font-size: 20px;
}

a {
    text-decoration: none;
    color: black;
}